<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/cdn-cgi/apps/head/uBh2QNnMpU-30rek_151JNjGf8U.js"></script><link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="https://i.pinimg.com/564x/1c/06/5d/1c065d6aaeaa6e16316f1927ae30c1c6.jpg">
    <meta charset="UTF-8"/>
    <title>Spotify Importer</title>
    <style>
        body {
            background: aliceblue center center/cover no-repeat;
            margin: 0;
            width: 100%;
            height: 100%
        }
        div {
            margin-top: 20%;
        }
    </style>
</head>
<body class="fadeIn">
<div align="middle">
    <form action="/callback" method="POST">
        URL Playlist: <input align="right" type="text" name="url"/>
        <input type="submit" value="Ok">
    </form>
    <p>Message: </p>
</div>
</body>
</html>